<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RefractedStudios [404]</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="icon" type="image/png" href="/static/documents/images/refractedstudios/refractedstudios_email-icon.png"/>

    <link rel="stylesheet" href="/static/styles-refractedstudios.css">
    
</head>
<body style="background-color: black; color: white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
    <header>
        <div class="main-header">
            <a id="header" href="/refractedstudios">
                <h1 class="website-title" style="margin-bottom: 0px;">
                    <img src="/static/documents/images/refractedstudios-icon.png" style="filter: invert(1);">
                    <span style="text-decoration: underline;">RefractedStudios</span>
                </h1>
                <h3>Anything and Everything</h3>
            </a>
            <div class="buttons">
                <div class="main-buttons">
                    <a class="nav-btn" href="#about">
                        ABOUT US
                    </a>
                    <a class="nav-btn" href="/refractedstudios/products">
                        PRODUCTS
                    </a>
                    <a class="nav-btn" href="/refractedstudios#contact-us">
                        CONTACT US
                    </a>
                    <a class="nav-btn" href="/refractedstudios/support">
                        SUPPORT
                    </a>
                    <a class="nav-btn" href="/refractedstudios/frequently-asked-questions">
                        FAQs
                    </a>
                </div>
                <a class="nav-btn" onclick="history.back()">
                    BACK
                </a>
            </div>
        </div>
    </header>
    <main>
        <div class="about-section">
            <details open style="margin-top: 1em;">
                <summary id="about" style="margin-bottom: 0; padding-left: 10px;">
                    <h2 style="display: inline;">About Us</h2>
                </summary>
                <div class="about-text" style="margin-left: 3em; margin-top: 0.5em;" spellcheck="true">
                    RefractedStudios is an indie company founded by <a class="external-link" href="https://www.cookie-star.com/" target="_blank">Brannick Schade (cookie)</a>, and co-founded by <a class="external-link" href="https://www.youtube.com/@Uni-CommandVerse" target="_blank">Uni (Uni! on YouTube)</a>.
                    <br>
                    This company dedicates itself to doing anything creatives-related, whether that be game development, animation, writing, publishing, distributing, etc. If you can think about it, we can do it (probably).
                    <br>
                    If you're interested, feel free to choose any of the services we offer in the "Products" section below.
                </div>
            </details>
        </div>
        <div class="page-not-found-section">
            <h1>404</h1>
            <div class="pnf-details">
                <h1 style="font-size: 32px;">Page not found</h1>
                <hr style="margin: 10px -15px;">
                <h3 style="margin-bottom: 3px;">The page you were looking for doesn't exist, or it was moved.</h3>
                <h3>Check your spelling in the address bar.</h3>
                <a class="nav-btn" href="/refractedstudios">Home</a>
                <a class="nav-btn" href="/refractedstudios/support">Support</a>
            </div>
        </div>
    </main>
    <footer class="holding-footer">
        <footer class="main-footer">
            <div style="display: flex;">
                <a id="header" href="/refractedstudios">
                    <h1 class="website-title" style="margin-bottom: 0px;">
                        <img src="/static/documents/images/refractedstudios-icon.png" style="filter: invert(1);">
                        <span style="text-decoration: underline;">RefractedStudios</span>
                    </h1>
                    <h3>Anything and Everything</h3>
                </a>
                <hr style="margin: 0; margin-left: 20px; margin-right: 10px; width: 0; height: 98px;">
                <div>
                    <div id="footer-details">
                    </div>
                </div>
            </div>
        </footer>
        <footer class="copyright-footer">
            Copyright &copy; RefractedStudios 2026 (yet to be registered)
        </footer>
    </footer>

    <script defer>
        fetch('/static/documents/resources/refracted-footer.json')
        .then(res => res.json())
        .then(data => {
            const max_display = 10;
            const footer_details = document.getElementById('footer-details');
            data.forEach((item, index) => {
                const text = item.text;
                const target = item.new_tab ? `target="_blank"` : '';
                const desc = item.desc ? `title="${item.desc}"` : '';

                footer_details.innerHTML += `
                    <a href="${item.link}" ${target} ${desc}>
                        ${text}
                    </a>
                `;
            });
        });
    </script>
</body>
</html>
