<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/documents/images/refractedstudios/refractedstudios_email-icon.png"/>
    <title>RefractedStudios &#x2192; Products &#x2192; Example Product</title>
</head>
<body>
    <div>
        This is here to preview what product buttons will look like on the website, this isn't an actual product, lil bro.
        <br><br>
        <button onclick="history.back()">Back</button>
    </div>
</body>
</html>