body {
    margin-top: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
    padding-top: 180px;
    padding-bottom: 50px;
}
.homepage main {
    padding-top: 140px;
}

#about, #products, #contact-us {
    scroll-margin-top: 180px;
}
.homepage #about, .homepage #products, .homepage #contact-us {
    scroll-margin-top: 140px;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: black;
}
::-webkit-scrollbar-thumb {
    background: #555;
}
* {
    scrollbar-color: #555 black; /* thumb track */
    scrollbar-width: thin;
}

.website-title {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

    margin-top: 0;
    height: fit-content;
}
.website-title img {
    vertical-align: -4px;
}

#header {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    user-select: none;
    margin-bottom: 13.72px;
    text-wrap-mode: nowrap;
}
#header h3 {
    margin: 0;
    margin-left: 2.3em;
}

header {
    margin-left: -8px;
}

.main-header {
    z-index: 999;
    background-color: black;
    position: fixed;
    top: 0px;
    width: 100%;
    padding-bottom: 10px;
    padding-left: 8px;
}

.nav-btn {
    margin-top: 5px;
    display: inline-block;
    padding: 8px 16px;
    background-color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 7px;
    color: black;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
}
.nav-btn:hover {
    background-color: rgb(207, 227, 238);
}
.nav-btn:active {
    color: black;
    background-color: rgb(183, 206, 219);
    transform: translateY(1px);
}

button {
    background-color: white;
    color: black;
    border-radius: 7px;
    padding: 8px 13px;
    cursor: pointer;
    border: 0;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
}
button:hover {
    background-color: rgb(207, 227, 238);
}
button:active {
    background-color: rgb(183, 206, 219);
    transform: translateY(1px);
}

#submit-button {
    padding: 8px 16px;
}
#support-button {
    margin: 0;
}

.support-button-div {
    padding-left: 70px;
}

summary {
    margin: 0px -8px;
    list-style: none;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
}

summary:hover {
    background-color: rgb(10, 10, 10);
}

summary::before {
    content: "❯";
    margin-right: 0.5em;
    transition: transform 0.04s;
    display: inline-block;
    color: rgb(131, 131, 131);
}

details[open] summary::before {
    transform: rotate(90deg);
}

#product-list img {
    width: 256px;
    height: 256px;
    border-radius: 20px;
    transition: 0.2s;
}

.product {
    text-align: center;
    width: fit-content;
}
.product a {
    text-decoration: none;
    color: inherit;
    display: block;
}
.product-img:hover {
    transform: scale(1.02);
}
.product:active img {
    transform: scale(1);
    transition: 0.05s;
    image-rendering: pixelated;
}

a {
    color: rgb(90, 134, 255);
}
a:active {
    color: rgb(126, 160, 255);
}
.external-link::after {
    vertical-align: super;
    font-size: 0.6em;
    content: "\f14c";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-style: normal;
    display: inline-block;
    margin-left: 1px;
    -webkit-font-smoothing: antialiased;
}

.about-text {
    font-family: sans-serif;
}

.buttons a {
    text-decoration: none;
}
.buttons a::after {
    content: none;
}
.main-buttons {
    text-wrap-mode: nowrap;
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
}
.main-buttons::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
}

#scroll-left {
    position: absolute;
    left: 10px;
    top: 40%;
}

#scroll-right {
    position: absolute;
    right: 10px;
    top: 40%;
}

.contact-us-section input {
    width: min(500px, calc(100vw - 6em - 10px));
    border: none;
    border-radius: 7px;
    padding: 10px;
    outline: none;
    margin-bottom: 5px;
    transition: 0.1s;
}
.contact-us-section input:hover {
    background-color: rgb(207, 227, 238);
}
.contact-us-section input:active {
    background-color: rgb(183, 206, 219);
}
.contact-us-section input:focus {
    background-color: rgb(172, 195, 209);
}

.contact-us-section textarea {
    width: min(500px, calc(100vw - 6em - 10px));
    border: none;
    border-radius: 7px;
    padding: 10px;
    outline: none;
    margin-bottom: 5px;
    resize: none;
    transition: 0.1s;
}
.contact-us-section textarea:hover {
    background-color: rgb(207, 227, 238);
}
.contact-us-section textarea:active {
    background-color: rgb(183, 206, 219);
}
.contact-us-section textarea:focus {
    background-color: rgb(172, 195, 209);
}
.contact-form {
    display: grid;
}
.form-bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#response-div {
    justify-content: start;
    margin-top: 5px;
}

.email-input {
    height: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contact-title {
    height: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-body {
    height: 300px;
    vertical-align: top;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.holding-footer {
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    margin:-8px -8px -8px -8px;
}
.main-footer {
    z-index: 999;
    min-width: max-content;
    background-color: #070707;
    height: 100px;
    margin-bottom: 3px;
    left: 0;
    right: 0;
    padding-left: 8px;
    display: flex;
    flex-wrap: nowrap;
    text-wrap-mode: nowrap;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
}
.main-footer::-webkit-scrollbar {
    display: none;
}
#footer-details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 100px;
    margin-right: 10px;
    font-family: sans-serif;
    padding-top: 4px;
}
#footer-details a {
    display: flexbox;
    padding-top: 10px;
    padding-left: 20px;
    color: #555;
    text-decoration: none;
}
#footer-details a:active {
    color: #444444;
}
.copyright-footer {
    text-wrap-mode: nowrap;
    margin-left: 8px;
    margin-bottom: 5px;
    min-width: max-content;
}

hr {
    border: 1px solid;
    border-color: #0e0e0e;
}

#faq-answer {
    font-family: sans-serif;
}

.page-not-found-section {
    text-align: center;
    margin-top: 46.9px;
    width: fit-content;
    justify-self: center;
}
.page-not-found-section h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 100px;
    text-decoration: underline;
}
.page-not-found-section h2 {
    margin-top: 0;
}
.pnf-details {
    text-align: left;
    padding: 15px;
    background-color: #070707;
    border-radius: 10px;
}
.pnf-details h1 {
    margin-top: 0;
    margin-bottom: 10px;
    text-decoration: none;
}
.pnf-details h3 {
    margin-top: 0;
    margin-bottom: 60px;
}